@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);

  --color-primary: #0a0a0a;
  --color-secondary: #121212;
  --color-accent-red: #b8143d;
  --color-text-primary: #FFFFFF;
  --color-muted-text: #B3B3B3;

  --animate-fade-in: fade-in 1s ease-out;
  --animate-slide-up: slide-up 1s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

:root {
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #0a0a0a;
  --color-secondary: #121212;
  --color-accent-red: #b8143d;
  --color-text-primary: #FFFFFF;
  --color-muted-text: #B3B3B3;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-manrope);
  antialiased: true;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}